body{
	background-color: gold;
}

.div1{
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
	margin: 20px;
}

.div2{
	width: 200px;
	height: 200px;
	background-color: pink;
	float: left;
	margin: 20px;
}